{% extends "admin/base.html" %}

{% block extrahead %}
{{ block.super }}
<script>
    if (!localStorage.getItem('theme')) {
        localStorage.setItem('theme', 'light');
    }
    document.documentElement.dataset.theme = localStorage.getItem('theme');
</script>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Pré-IFMA Admin</a></h1>
{% endblock %}

{% block userlinks %}
<a href="/parser/" target="_blank" class="pre-ifma-btn">Acessar Parser</a>
<a href="/" class="pre-ifma-btn">Ver o Site</a>
<a href="{% url 'admin:password_change' %}" class="pre-ifma-btn">Alterar Senha</a>
<a href="{% url 'admin:logout' %}" class="pre-ifma-btn">Encerrar Sessão</a>
{% include "admin/color_theme_toggle.html" %}
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<style>
    body {
        zoom: 1.15;
    }

    :root,
    .theme-light,
    .theme-dark {
        --primary: #198754 !important;
        --secondary: #1e7e34 !important;
        --header-bg: #198754 !important;
        --header-color: #ffffff !important;
        --link-fg: #1e7e34 !important;
        --primary-fg: #ffffff !important;
        --button-bg: #198754 !important;
        --button-hover-bg: #105032 !important;
    }

    #header {
        background: var(--header-bg) !important;
        color: var(--header-color) !important;
    }

    #branding h1,
    #branding h1 a:link,
    #branding h1 a:visited {
        color: var(--header-color) !important;
    }

    /* Forçando a barra de breadcrumbs a aceitar as novas cores */
    div.breadcrumbs {
        --breadcrumbs-bg: #0c4d2e;
        --breadcrumbs-fg: #ffffff !important;
        --breadcrumbs-link-fg: #ffffff !important;
    }

    div.breadcrumbs a {
        color: var(--breadcrumbs-link-fg) !important;
    }

    .pre-ifma-btn {
        background: #20a466;
        padding: 6px 12px;
        border-radius: 6px;
        margin-right: 6px;
        margin-bottom: 6px;
        text-decoration: none !important;
        color: #fff !important;
    }

    .pre-ifma-btn:hover {
        background: #25bb75
    }
</style>
{% endblock %}